*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    body style=background-image: url(https://lh3.googleusercontent.com/pw/AJFCJaWi91Ifr-w_amKSFMV265IvSzfOsHiPidTKcRVos9NZwVLykuDqRxv5XagKeFoBIDFjTHRZpPE5gScVd6H0nG0ITCKYz5uiS_8AkklhDmr3mXJpW7rmhBN4iMUHbqYjyU5vv3rYRPvOZZYsAgN60oaiNMTdzmT_KQftx2UaN-70jufB_KsU6uT3Tjxkg5iJcqOOZZYtIoMNDmCRdnIucc1LC8Arcdn97g22V1hjL8qsXbOC25PA2qIUCSz60_wTV8SZ5YxAqh8fEe9-9gMgJ_MpUWtYrI2KRTuoy2nDiv5yfiJRAuay-CrkcBzjQVCzLq0M-bSaddVRYcvVIE168i36x5dynk6xFgHxARyvmNJDjYQk4GTVTy2Yylt3fcIGmPQkpvTlG2YmS-ncQMXKtMhuIu0evpegmR9qhWjrHf8-R-BfLIqPkA-NiOLluV3kRCMFrxw891CM-ZP-_ZQoPtd4TH4YOBbbcTVaGUDfLtGcve33gqLR1RUm-Yt4UfOBDUM5bKHjRsrEG_dx47JuCsKOZyhtZvxLBK2fplswMKxYgaK_er2yKgcoKS0QucSP3n2qVvmqpxmf7-v5nmC6OeTi0zb50NLE-d0IKqTd5F8xwlGtfCEAzK9pxLiTuTjiyZBtjxWOlaAx8Tq-O0XdZxn4nWgKdGTXW4kiGdQHQT4i-62qCzpnisg0oSENKG_q7EU510rMzc5zg8deqA3fzduQADFUsLdoB0tOsfTwjC1soB8LI_UQABd0T7WubxzjRCYbFSmdDhnw6If0qHMS5Rwai3atWECUfBzB36njKHNvFRAos06MJBoBc5k5oO0bqRQXa_u4V-2kBPzKVZkHMGz4wMo6Pb7lWUm7qpt2Fd9ebM4tsLWhj5gHZgbLWYxd7_F2ABVyR2WrAW-DkSXKEt6j9A=w983-h553-s-no?authuser=0) 
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}


.escola-titulo{
    padding: 24px 0;
}

.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}

